<%- include("./partials/Header.ejs"); %>

<%- include("./partials/Navbar.ejs"); %>

    <div class="contactPage">
        <div class="contactHeading">
            <h1 class="heading">Contact Me</h1> 
        </div>
        <div class="contactWays">
            
            <ul class="contactMethod">
                <button type="button" class="btn btn-light" href="mailto:nikhil.nataraj@gmail.com">
                    <a href="mailto:nikhil.nataraj@gmail.com"><i class="material-icons" style="font-size:48px">mail</i></a>
                </button>
                <button type="button" class="btn">
                    <h6><a href="mailto:nikhil.nataraj@gmail.com">You can contact me via Email</a></h6>
                </button>
            </ul>            
            <ul>
                <button type="button" class="btn btn-light">
                    <a href="https://www.linkedin.com/in/nikhil-natarajan/" >
                        <i class="fa fa-linkedin-square" style="font-size:60px;color:purple"></i></a>
                </button>  
                <button type="button" class="btn">
                    <a href="https://www.linkedin.com/in/nikhil-natarajan/" ><h6>Connect with me on LinkedIn</h6></a>
                </button>         
            </ul>
        </div>          
    </div>



<%- include("./partials/Footer.ejs"); %>