<%- include("partials/header"); %>
<div id="header-wrap">
    <div id="header">
        <%- include("partials/navbar"); %>
    </div>
</div>

    <div class="homePage">
        <div class="homeContent">
            <div>
                <h1 class="homePageHeading">Hi, I'm Nikhil</h1>
            </div>
            <div class="introContent">
                <p>A coding enthusiast.</p>
            </div>
        </div>
        <div class="profilePhoto">
            <img src="/Profile.png" alt="Profile Image">
        </div>
    </div>  

    <div class="scroll-down-indicator" id="scrollToSkills">
        <span class="material-symbols-outlined">
            south
        </span>
    </div>    
    
    <h1 class="heading">What I can do...</h1>

    <div class="skills" id="skills">
        <div class="card">
            <img src="/Web-Dev.png" class="card-image card-img-top" alt="Web Development">
            <div class="card-body">
                <h5 class="card-title">WEB DEVELOPMENT</h5>
                <p class="card-description">Expertise in <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Python</strong> 
                    and <strong>React.js</strong>.</p>
            </div>
        </div>

        <div class="card">
            <img src="/sql-unix.png" class="card-image card-img-top" alt="SQL">
            <div class="card-body">
                <h5 class="card-title">ORACLE AND UNIX</h5>
                <p class="card-description">Experienced in <strong>Oracle Forms</strong> and <strong>PL/SQL</strong>. 
                    Automated tasks using <strong>Bash Scripting</strong>.</p>
            </div>
        </div>

        <div class="card">
            <img src="/Cloud.png" class="card-image card-img-top" alt="Cloud Computing">
            <div class="card-body">
                <h5 class="card-title">CLOUD</h5>
                <p class="card-description">Certified in <strong>Azure</strong> and <strong>Google Cloud Platform (GCP)</strong>.</p>
            </div>
        </div>
    </div>
      

<%- include("partials/footer"); %>